body {
    padding-top: 55px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/*
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


body {
}


header {
    color: #000;
    background-color: #286af0;
    text-align: left;
}

footer {
    text-align: center;
    text-decoration-style: solid;
}

section {
    background-color: #ccc;
    float: left;
    width: 80%;
    padding-bottom: 40px;
}

header, footer {
    width: 100%;
}

aside {
    width: 20%;
    float: right;
    padding-top: 10px;
}

footer {
    clear: both;
    padding-bottom: 10px;
    background-color:lightgray;
}

aside {
    padding-left: 30px;
}

.container body-content {
    width: 79%;
}

.PurinaChawPublicity {
    width: 10%;
}

.dogChawPublicity {
    width: 100%;
}

.bodySection {
    padding-left: 10%;
}
